# From https://gist.github.com/thomasfr/9707568
# lmgtfy https://duckduckgo.com/?q=systemd+service+ssh&atb=v140-2__&ia=web
[Unit]
Description=Keeps a tunnel to 'apps.pickardayune.com' open
After=network.target

[Service]
User=appstunnel
ExecStart=/usr/bin/autossh -M 0 -N -q -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -p 22 -l tiny apps.pickardayune.com -R 127.0.0.1:2222:127.0.0.1:22 -i /home/appstunnel/.ssh/id_rsa

[Install]
WantedBy=multi-user.target
