[submodule "up-or-not"]
	path = up-or-not/src
	url = https://github.com/spraints/up-or-not
[submodule "prometheus/amplifi-exporter"]
	path = prometheus/amplifi-exporter
	url = https://github.com/spraints/amplifi-exporter
[submodule "mytagdata/src"]
	path = mytagdata/src
	url = https://github.com/spraints/mytagdata
[submodule "starlink/BetterThanNothingWebInterface"]
	path = starlink/BetterThanNothingWebInterface
	url = https://github.com/spraints/BetterThanNothingWebInterface
